html
    head
        title WebAudioAPI
    body
      div.audio
        span.audio__label click "play" to start record, pause on 10 second.
        audio.audio__track(controls="controls" id="audio" crossorigin="anonymous")
          source(src="https://dl.dropboxusercontent.com/s/8c9m92u1euqnkaz/GershwinWhiteman-RhapsodyInBluePart1.mp3" )
